.video-player-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-player-container-sections {
  width: 100%;
  height: 100%;
  display: flex;
}

.video-player-container-sections-player {
  width: 75%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.video-player-container-users-interaction {
  width: 30%;
  height: 100%;
  border-left: 2px solid white;
}

.video-player-container-users-interaction-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.video-player-container-users-interaction-comments-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.video-player-container-users-interaction-comments-comment img {
  border-radius: 50%;
  margin-right: 15px;
}

.video-player-container-users-interaction-comments-container {
  width: 90%;
  height: 80%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.video-player-container-users-interaction-comments-comment span {
  background: #fff;
  padding: 10px;
}

.video-player-container-users-interaction-comments-write {
  height: 10%;
  width: 90%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.video-player-container-users-interaction-comments-write input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 85%;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.video-player-container-users-interaction-comments-write img {
  width: 25px;
}

.video-player-container-users-interaction-comments-write input:focus {
  border: none;
  border-bottom: 1px solid white;
}

.video-player-container-users-interaction-header {
  padding: 20px;
  border-bottom: 2px solid white;
  text-align: center;
}

.video-player-container-users-interaction-header img {
  width: 70px;
}
