.login-register-container {
  font-size: 14px;
  color: #fff;
  background: #71B9DB;
  padding: 8px 15px;
  border-radius: 3px;
  margin-left: 30px;
  text-align: center;
  height: 3em;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.vodj-home-container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.vodj-home-container iframe {
  width: 100%;
  height: 65vh;
  margin-top: 5em;
  padding: 0;
  margin: 0;
}

footer.vodj-footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
}

div .footer-left, .copyright-text {
  color: white;
}
.home-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-row img {
  width: 80px;
  cursor: pointer;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 50px;
}

header.vodj-header img{
  width: 90px;
}